asttokens
backcall
biopython
certifi
charset-normalizer
click
comm
contourpy
cycler
Cython
debugpy
decorator
executing
fonttools
idna
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
pysam
python-dateutil
pytz
pyzmq
requests
scipy
six
stack-data
tornado
traitlets
tzdata
urllib3
wcwidth
